h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body {
  display: table-cell;
  vertical-align: middle;
  border: solid 1px white;
  border-radius: 25px;
  background: linear-gradient(
    to top,
    rgb(251, 194, 235) 0%,
    rgb(166, 193, 238) 100%
  );
}

html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}

ul {
  display: block;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
li:first-letter {
  text-transform: capitalize;
}

li strong {
  color: #f65282;
  font-weight: 400;
}

input {
  padding: 1px 2px;
  border-width: 2px;
  border-color: internal light dark (rgb(118, 118, 118), rgb(133, 133, 133));
}
img {
  margin: 10px 0;
}

.Weather .btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
}

.Weather h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0 10px;
}
.temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}
.forecast-time {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.forecast-temperature {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
  display: block;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 60px;
}
.form-control {
  font-weight: 400;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.WeatherInfo .active {
  color: antiquewhite;
}
