h1 {
  color: blue;
}

input {
  padding: 1px 2px;
  border-width: 2px;
  border-color: internal light dark (rgb(118, 118, 118), rgb(133, 133, 133));
}
.Weather .btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}
